.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  width: 100%;
  top: 0;
  align-items: center;
}
.header__icon {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
}
.header__center {
  display: flex;
  align-items: center;
  flex: 1;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 999px;
  max-width: fit-content;
  padding: 10px;
}
.header__center input {
  border: none;
  padding: 10px;
  outline-width: 0;
}
.header__right {
  display: flex;
  align-items: center;
  margin-right: 80px;
  width: 15vw;
  justify-content: space-between;
}
